@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --dark-brown: #261914;
    --brown: #73482F;
    --dark-grey: #59514F;
    --light-grey: #B5A5A1;
    --off-white: #f4f4f4;
}

/* override bootstrap styling for background and font and make page stretch at least 100vh to avoid whitespace below footer, 
code taken from https://forum.freecodecamp.org/t/footer-white-space-below/191360/4 */
body {
    background-color: var(--off-white);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

/* header */

.my-nav {
    background-color: var(--dark-brown);
}

/* keep links to right */
.my-colapse{
    flex-grow: 0;
}

.navbar .my-logo {
    font-family: 'Pinyon Script', cursive;
    color: var(--off-white);
}

.navbar .nav-pills .my-link {
    color: var(--off-white);
    text-decoration: none;
}

.navbar .nav-pills .my-link.active {
    background-color: var(--off-white);
    color: var(--dark-brown);
}

.navbar .nav-pills .my-link:hover :not(.active){
    color: var(--light-grey);
}

/* main*/

main h1 {
    text-transform: uppercase;
    font-weight: bolder;
}

/* news */

/* shape images container into a circle */
.circle {
    border: 1px solid var(--dark-brown);
    border-radius: 50%;
    z-index: 2;
    background-color: var(--off-white);
}

/* shape image into a circle and layer it on top of container */
.circle img {
    width: 100%;
    border-radius: 50%;
    z-index: 3;    
}

/* make background below text sink behind image and image container and possition so that edges are 
never visible for news section */
.news p{
    background-color: var(--brown);
    color: var(--off-white);
    padding: 5% 5% 5% 40%;
    margin-left: -35%;
    z-index: -1;
}

.meal-deal h2 {
    text-align: right;
}

/* make background below text sink behind image and image container and possition so that edges are 
never visible for meal deal section */
.meal-deal p {
    background-color: var(--brown);
    color: var(--off-white);
    padding: 5% 40% 5% 5%;
    margin-right: -35%;
    z-index: -1;
}

/* footer */

footer {
    background-color: var(--dark-brown);
}

footer div {
    color: var(--off-white);
}

.my-link {
    color: var(--off-white);
    text-decoration: none;
}

.my-link:hover {
    color: var(--light-grey);
}

footer h3 {
    text-transform: uppercase;
}

/* about */

/* make images responsive without distorting */
.my-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviews {
    background-color: var(--dark-grey);
    color: var(--off-white);
}

.reviews p {
    text-align: center;
    font-style: italic;
}

.reviews h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}

/* menu */

.menu-section h2 {
    text-align: center;
    background: url('../images/menu-background.jpg');
    padding: 1rem 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--dark-brown);
    margin-bottom: 0;
}

/* make image sticky on top, but below h2 by calculating offset based on h2 element height (2xpadding + font-size) */
.my-sticky-top{
    position: relative;
    position: sticky;
    position: -webkit-sticky;
    top: calc(2rem + (1.325rem + .9vw));
}

/* calculate image size to fill the vh reduced by h2 size */
.my-img-menu{
    width: 100%;
    height: calc(100vh - (2rem + (1.325rem + .9vw)));
    object-fit: cover;
}

/* gallery */

.my-img-container {
    height: 33vh;
    overflow: hidden;
}

/* give embeded video max dimensions and center horizontaly on page */
.my-video-container {
    max-width: 800px;
    max-height: 450px;
    margin: 0 auto;
}

.my-video {
    max-width: 800px;
    max-height: 450px;
}

/* contact */

.my-btn {
    background-color: var(--dark-brown);
    color: var(--off-white);
    border: 1px solid var(--dark-brown)
}

.my-btn:hover {
    background-color: var(--dark-grey);
    color: var(--off-white);
    border: 1px solid var(--dark-grey)
}

/* override bootstrap text color */
#phoneHelp {
    color: var(--dark-brown);
}

/* 404 page*/

#error-img-cont {
    max-width: 500px;
}

.home-btn {
    background-color: var(--dark-brown);
    color: var(--off-white);
    text-decoration: none;
    display: block;
    border-radius: 0.25rem;
}

.home-btn:hover {
    color: var(--light-grey);
}

@media (max-width: 768px) {
    /* make carousel height bigger on smaller screen sizes */
    .carousel-item img {
        height: 70vh;
        object-fit: cover;
    }

    /* hide overflow caused by margins to avoid horizontal scrolling */
    .news, .meal-deal {
        overflow: hidden;
    }
    
    /* align heading to the left */
    .meal-deal h2 {
        text-align: left;
    }
}

@media (max-width: 576px) {
    /* make divs on info box stretch full width to avoid overflow on smaller screen sizes */
    .find-us div {
        width: 100%;
    }
}

@media (max-width: 330px) {
    /* remove right margin to avoid moving of hamburger menu to second row of navbar */
    .navbar-brand {
        margin-right: 0;
    }
}